SpringInActionChapter10_remoting-jax-ws_SpringBeanAutowiringSupport/webroot/WEB-INF/wsdl/SpitterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SpitterServiceNomeServizio" targetNamespace="http://SEI.jaxws.remoting.spitter.habuma.com/SpitterService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SEI.jaxws.remoting.spitter.habuma.com/SpitterService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SEI.jaxws.remoting.spitter.habuma.com/SpitterService" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://SEI.jaxws.remoting.spitter.habuma.com/SpitterService">
  <xs:complexType name="spitter">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="fullName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="spittles" nillable="true" type="tns:spittle"/>
      <xs:element name="updateByEmail" type="xs:boolean"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spittle">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="spitter" type="tns:spitter"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="when" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSpitterById" type="tns:getSpitterById"/>
  <xs:complexType name="getSpitterById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSpitterByIdResponse" type="tns:getSpitterByIdResponse"/>
  <xs:complexType name="getSpitterByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:spitter"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSpitterByIdResponse">
    <wsdl:part name="parameters" element="tns:getSpitterByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpitterById">
    <wsdl:part name="parameters" element="tns:getSpitterById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SpitterService">
    <wsdl:operation name="getSpitterById">
      <wsdl:input name="getSpitterById" message="tns:getSpitterById">
    </wsdl:input>
      <wsdl:output name="getSpitterByIdResponse" message="tns:getSpitterByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpitterServiceNomeServizioSoapBinding" type="tns:SpitterService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSpitterById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSpitterById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSpitterByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpitterServiceNomeServizio">
    <wsdl:port name="SpitterServiceEndpointPort" binding="tns:SpitterServiceNomeServizioSoapBinding">
      <soap:address location="http://127.0.0.1:8080/SpitterService/ws/spitterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
