SpringInActionChapter10_remoting-jax-ws_SpringBeanAutowiringSupport/webroot/WEB-INF/wsdl/SpitterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SpitterService" targetNamespace="http://pippo/SpitterService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://pippo/SpitterService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pippo/SpitterService" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://pippo/SpitterService">
  <xs:complexType name="spitter">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="fullName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="spittles" nillable="true" type="tns:spittle"/>
      <xs:element name="updateByEmail" type="xs:boolean"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spittle">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="spitter" type="tns:spitter"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="when" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSpittlesForSpitter" type="tns:getSpittlesForSpitter"/>
  <xs:complexType name="getSpittlesForSpitter">
    <xs:sequence>
      <xs:element minOccurs="0" name="spitter" type="tns:spitter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSpittlesForSpitterResponse" type="tns:getSpittlesForSpitterResponse"/>
  <xs:complexType name="getSpittlesForSpitterResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:spittle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addSpittle" type="tns:addSpittle"/>
  <xs:complexType name="addSpittle">
    <xs:sequence>
      <xs:element minOccurs="0" name="spittle" type="tns:spittle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addSpittleResponse" type="tns:addSpittleResponse"/>
  <xs:complexType name="addSpittleResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="deleteSpittle" type="tns:deleteSpittle"/>
  <xs:complexType name="deleteSpittle">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteSpittleResponse" type="tns:deleteSpittleResponse"/>
  <xs:complexType name="deleteSpittleResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getRecentSpittles" type="tns:getRecentSpittles"/>
  <xs:complexType name="getRecentSpittles">
    <xs:sequence>
      <xs:element name="spittleCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getRecentSpittlesResponse" type="tns:getRecentSpittlesResponse"/>
  <xs:complexType name="getRecentSpittlesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:spittle"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSpittlesForSpitter">
    <wsdl:part name="parameters" element="tns:getSpittlesForSpitter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSpittle">
    <wsdl:part name="parameters" element="tns:deleteSpittle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSpittleResponse">
    <wsdl:part name="parameters" element="tns:deleteSpittleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpittlesForSpitterResponse">
    <wsdl:part name="parameters" element="tns:getSpittlesForSpitterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentSpittles">
    <wsdl:part name="parameters" element="tns:getRecentSpittles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentSpittlesResponse">
    <wsdl:part name="parameters" element="tns:getRecentSpittlesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSpittle">
    <wsdl:part name="parameters" element="tns:addSpittle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSpittleResponse">
    <wsdl:part name="parameters" element="tns:addSpittleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SpitterServiceEndpointInterf">
    <wsdl:operation name="getSpittlesForSpitter">
      <wsdl:input name="getSpittlesForSpitter" message="tns:getSpittlesForSpitter">
    </wsdl:input>
      <wsdl:output name="getSpittlesForSpitterResponse" message="tns:getSpittlesForSpitterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSpittle">
      <wsdl:input name="addSpittle" message="tns:addSpittle">
    </wsdl:input>
      <wsdl:output name="addSpittleResponse" message="tns:addSpittleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSpittle">
      <wsdl:input name="deleteSpittle" message="tns:deleteSpittle">
    </wsdl:input>
      <wsdl:output name="deleteSpittleResponse" message="tns:deleteSpittleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentSpittles">
      <wsdl:input name="getRecentSpittles" message="tns:getRecentSpittles">
    </wsdl:input>
      <wsdl:output name="getRecentSpittlesResponse" message="tns:getRecentSpittlesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpitterServiceSoapBinding" type="tns:SpitterServiceEndpointInterf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSpittlesForSpitter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSpittlesForSpitter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSpittlesForSpitterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSpittle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addSpittle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addSpittleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSpittle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteSpittle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSpittleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecentSpittles">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecentSpittles">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentSpittlesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpitterService">
    <wsdl:port name="SpitterServiceEndpointPort" binding="tns:SpitterServiceSoapBinding">
      <soap:address location="http://127.0.0.1:8080/SpitterService/ws/spitterService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
