Generazione_WSDL_da_SEI_Annotata/quoteReporterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="quoteReporterService" targetNamespace="http://demo.iona.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://demo.iona.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://demo.iona.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://demo.iona.com">
  <xs:complexType name="quote">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
      <xs:element minOccurs="0" name="time" type="xs:string"/>
      <xs:element name="val" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStockQuote" type="getStockQuote"/>
  <xs:complexType name="getStockQuote">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="stockTicker" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStockQuoteResponse" type="getStockQuoteResponse"/>
  <xs:complexType name="getStockQuoteResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="updatedQuote" type="quote"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStockQuoteResponse">
    <wsdl:part name="parameters" element="tns:getStockQuoteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStockQuote">
    <wsdl:part name="parameters" element="tns:getStockQuote">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="quoteReporter">
    <wsdl:operation name="getStockQuote">
      <wsdl:input name="getStockQuote" message="tns:getStockQuote">
    </wsdl:input>
      <wsdl:output name="getStockQuoteResponse" message="tns:getStockQuoteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="quoteReporterServiceSoapBinding" type="tns:quoteReporter">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStockQuote">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStockQuote">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStockQuoteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="quoteReporterService">
    <wsdl:port name="quoteReporterPort" binding="tns:quoteReporterServiceSoapBinding">
      <soap:address location="http://localhost:9090/quoteReporterPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
